@import url(reset.css);
/*-------------------Cелектор элемента--------------------*/
span {
	color: darkred;
}
/*-------------------Селектор класса--------------------*/
.footer__copy {
	color: blueviolet;
}
/*-------------------Селектор идентефикатора + 
								Группировка селеторов--------------------*/
#special-info,
#note {
	color: darkgoldenrod;
}
/*-------------------Селектор потомка--------------------*/
.footer__copy a {
	color: chocolate;
}
/*-------------------Дочерний селектор--------------------*/
.content__general > p {
	color: darkblue;
}
/*-------------------Сестринский селектор--------------------*/
a + h1 {
	color: blue;
}
h2 ~ p {
	color: darkcyan;
}
/*-------------------Селектор атрибута--------------------*/
[class="history__title"] {
	color: red;
}
/*-------------------Комбинация селекторов--------------------*/
a[href][title="Нажми на меня!"] {
	color: darkorange;
}
