@import "reset.css";
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap);

body {
	font-family: "Poppins";
	font-weight: 300;
	font-size: 0.875rem;
	line-height: 1.79;
	color: #6c757d;
}
.wrapper{
	min-height: 100%;
}
[class*="__container"]{
	max-width: 807px;
	margin: 0px auto;
}
.article__title {
	font-weight: 700;
	font-size: 1.5625rem;
	color: #212529;
	line-height: 1.6;
	max-width: 552px;
	margin: 25px 0px 40px;
}
.article__text{
	margin-bottom: 80px;
}
.article__text_1{
	max-width: 717px;
	margin-bottom: 50px;
}
.article__text_2{
	max-width: 723px;
	margin-bottom: 50px;
}
.article__text_3{
	max-width: 719px;
}

[alt="desert"]{
	display: block;
	width: 1240px;
	height: 400px;
	margin: 0px auto 80px;
}
.content__imgblock {
	max-width: 1240px;
	margin: 0px auto 80px;
	font-size: 0;
}
[alt="canoe"]{
 margin-right: 20px;
}